* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #ffffff;
}

header {
  padding: 1rem;
  background-color: #18d9b65e;
  color: #025159;
}

a:link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2em;
  color: #025159;
}

h2 {
  padding: 0.5rem;
  color: #025159;
}

h3,
h4 {
  margin: 0.5rem;
}

p {
  padding: 0.2rem;
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  border-radius: 0.5rem;
  max-height: 40vh;
  object-fit: cover;
}

button {
  padding: 0.9em 1.3em;
  background-color: #18d9b5;
  border-radius: 30px;
  border: none;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:disabled {
  cursor: default;
}

.review-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

.review-card {
  width: 350px;
  margin: 0.5em;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  background-color: #025159;
  color: white;
}

.review-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.nav-link {
  display: inline-block;
  margin: 0.3em 0.6em;
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
}

/* .nav-group {
  background-color: #18d9b5;
} */

.nav-group a {
  color: #000000;
  border-bottom: 1.5px solid transparent;
  padding-bottom: 2px;
}

.nav-group a:hover {
  border-bottom: 1.5px solid #000000;
  padding-bottom: 2px;
}

.nav-group .active {
  border-bottom: 1.5px solid #000000;
  padding-bottom: 2px;
}

.form-style {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.form-style label {
  text-align: center;
  display: block;
}

.form-style textarea {
  width: 100%;
  font-family: inherit;
  padding: 0.25em 0.5em;
  border: 1px solid #025159;
  border-radius: 0.5rem;
  display: block;
  height: 12vh;
  margin: 10px 0;
  font-size: 1em;
}

.submit-button {
  width: 130px;
  border: 1px solid #025159;
}

#comment-list {
  background-color: #18d9b65e;
  padding: 5px;
  margin-top: 15px;
}

#comment-card {
  background-color: #025159;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 8px;
  list-style: none;
  color: white;
}

#error-text {
  background-color: rgba(255, 0, 0, 0.184);
}

#error-comment {
  color: red;
  background-color: white;
  padding: 5px;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

#success-comment {
  background-color: white;
  color: green;
  border-radius: 0.5rem;
  padding: 5px;
  margin: 0 0.5rem;
}

@media (min-width: 1024px) {
  img {
    width: 40vw;
  }

  .form-style {
    width: 40vw;
  }

  #p-review {
    margin-left: 30vw;
    margin-right: 30vw;
  }

  #comment-card {
    margin-left: 30vw;
    margin-right: 30vw;
  }
}
